.navbar-custom {
    background-color: whitesmoke;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom menu-icon {
    color:slategrey;
}

.navbar-custom .navbar-nav .nav-link {
    color: slategrey;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom menu-icon:hover {
    color: black;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

@media(max-width: 768px) {
    li {
        text-align: center;
        font-size: 2rem;
    }
} 
