<div class="text-center fixed">
    <menu-icon data-toggle="modal" data-target="#navbar"></menu-icon>
</div>

<div class="modal fade" id="navbar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <i class="fas fa-times close" data-dismiss="modal"></i>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>