.navbar-custom {
    background-color: transparent;
    text-transform: uppercase;
    font-size: larger;
}

.navbar-custom .navbar-nav .nav-link {
    color: lightgrey;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

@media(max-width: 768px) {
    li {
        text-align: center;
        font-size: 2rem;
    }
} 

li .active {
    color: whitesmoke;
}
