#top, #bottom, #left, #right {
	background: black;
	position: fixed;
}
    
#left, #right {
    top: 0;
    bottom: 0;
	width: 1rem;
}

#left { 
    left: 0;
}

#right {
    right: 0;
}
		
#top, #bottom {
    left: 0;
    right: 0;
    height: 1rem;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

.inner {
    padding: 1rem;
}

#bottom-left-corner {
    width: 0;
    height: 0;
    border-bottom: 3rem solid black;
    border-right: 3rem solid transparent;
    bottom: 0;
    position: fixed;
}

#bottom-right-corner {
    width: 0;
    height: 0;
    border-bottom: 3rem solid black;
    border-left: 3rem solid transparent;
    bottom: 0;
    right: 0;
    position: fixed;
}