body {
    font-family: 'Abril Fatface', cursive !important;
    color: whitesmoke !important;
}

a {
    color: whitesmoke !important;
}

a:hover {
    color: lightgrey !important;
}

/* h3 {
    color: darkred;
} */