#top, #bottom, #left, #right {
	background: black;
	position: fixed;
}
    
#left, #right {
    top: 0;
    bottom: 0;
	width: 1rem;
}

#left { 
    left: 0;
}

#right {
    right: 0;
}
		
#top, #bottom {
    left: 0;
    right: 0;
    height: 1rem;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

.inner {
    padding: 1rem;
}