.rounded-circle {
    border-radius: 50%;
}

.center-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-thumbnail {
    border: 0.1rem solid #ddd;
    box-shadow: 0.15rem 0.15rem 1rem darkslategrey;
}

.sm {
    max-height: 4rem;
}

.md {
    max-height: 8rem;
}

.lg {
    max-height: 12rem;
}